$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.X {
  color: black;
}
.O {
  color:white;
}
// .col-xs-4 {
//   border: 5px solid #CD919E;
//   height: 400px;
// }
// .container {
//   border:7px solid white;
//   width:800px
//   margin:auto;
//   text-align: center;
// }
