$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// .x {
//   color: black;
// }
// .o {
//   color:white;
// }
.jumbotron {
  background-image: url('http://i1172.photobucket.com/albums/r579/yenlumiere610/map_zpsnem856lq.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;

}

footer {
  margin-top: 300px;
  padding: 10px;
}

.creator {
  color: #bc4f5e;
}
